Repository phrazzld/ponder: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-check, cargo-clippy, glance-update

cargo-fmt-check:
  name: cargo fmt --check
  description: Ensures code is formatted according to rustfmt standards.
  entry: cargo fmt --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-clippy:
  name: cargo clippy
  description: Lints code with 'cargo clippy --all-targets -- -D warnings'.
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push

glance-update:
  name: glance documentation update
  description: Updates glance.md files when significant code or config changes are detected.
  entry: ./scripts/pre-commit-glance.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor: address PR feedback with code quality improvements
  README.md
  src/db/summaries.rs
  src/ops/converse.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

fix: address PR #56 review feedback (P1 items)
  BACKLOG.md
  src/db/mod.rs
  src/db/schema.rs
  src/main.rs
  src/ops/summarize.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

fix: eliminate duplicate schema version insertion
  src/db/schema.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

fix(ci): skip env var test in cargo-tarpaulin coverage runs
  Cargo.toml
  src/config/mod.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

fix(ci): use correct tarpaulin cfg name for test exclusion
  Cargo.toml
  src/config/mod.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

chore: docs cleanup
  TASK.md
  TODO.md
Due: none

feat(deps): add indicatif for progress bars
  Cargo.lock
  Cargo.toml
Due: glance-update

feat(trends): add PhaseProgress wrapper for progress bars
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): integrate progress bars into discovery and extraction phases
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): add progress spinner to synthesis phase
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): add checkpoint data structures
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): implement checkpoint I/O functions
  Cargo.lock
  Cargo.toml
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): add checkpoint resume logic for Discovery phase
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): add checkpoint saving to Discovery phase
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): add checkpoint resume logic for Extraction phase
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): add checkpoint saving to Extraction phase
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): delete checkpoint on successful completion
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

docs: tighten and tidy TODO.md
  TODO.md
Due: none

feat(crypto): add SessionExtender for auto-refresh
  src/crypto/mod.rs
  src/crypto/session.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): integrate SessionExtender for auto-refresh
  BACKLOG.md
  TASK.md
  src/ai/ollama.rs
  src/cli/mod.rs
  src/main.rs
  src/ops/mod.rs
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): add upfront time estimation
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(errors): add Interrupted variant to AppError
  src/errors/mod.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(deps): add signal-hook for graceful interruption
  Cargo.lock
  Cargo.toml
Due: glance-update

feat(trends): implement graceful interruption with Ctrl+C
  src/ops/trends.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(trends): handle Interrupted error gracefully in cmd_trends
  src/main.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

fix(ci): skip claude-code-review for Dependabot PRs
  .github/workflows/claude-code-review.yml
Due: none

fix: skip Claude code review for Dependabot PRs
  .github/workflows/claude-code-review.yml
Due: none

ci: delegate workflow to local gate
  .github/workflows/ci.yml
  README.md
  scripts/ci.sh
Due: glance-update

chore(harness): merge AGENTS.md/CLAUDE.md, symlink CLAUDE.md
  AGENTS.md
  CLAUDE.md
Due: glance-update

wip: sync local work for machine backup (2026-08-01)
  .omp/review-freeze.json
Due: none

Path conditions:
  cargo-fmt-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  glance-update: any of: ^(src/.*\.(rs|toml)|Cargo\.(toml|lock)|README\.md|CONTRIBUTING\.md|PRD\.md|CLAUDE\.md|\.pre-commit-config\.yaml)$
