Repository phrazzld/ponder: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-check, cargo-clippy, glance-update

cargo-fmt-check:
  name: cargo fmt --check
  description: Ensures code is formatted according to rustfmt standards.
  entry: cargo fmt --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-clippy:
  name: cargo clippy
  description: Lints code with 'cargo clippy --all-targets -- -D warnings'.
  entry: cargo clippy --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-push

glance-update:
  name: glance documentation update
  description: Updates glance.md files when significant code or config changes are detected.
  entry: ./scripts/pre-commit-glance.sh
  language: system
  pass_filenames: false
  stages:
  - pre-commit

groom(backlog): ruthless 80/20 curation - 1720→400 lines, 60→15 items
  BACKLOG.md
Due: none

chore: clean up project metadata files after backlog groom
  AGENTS.md
  PR_REVIEW_RESPONSE.md
  TASK.md
  TODO.md
Due: none

feat(config): add AIModels struct for configurable model selection
  TASK.md
  TODO.md
  src/config/mod.rs
  src/lib.rs
  src/ops/migration.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(config): implement env var loading for AI model configuration
  TODO.md
  src/config/mod.rs
  src/constants.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(db): add summaries table for progressive summarization
  TODO.md
  src/db/schema.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(db): add patterns table for AI-detected insights
  TODO.md
  src/db/schema.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(db): add summaries module for summary CRUD operations
  TODO.md
  src/db/mod.rs
  src/db/summaries.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(db): add patterns module for pattern CRUD operations
  TODO.md
  src/db/mod.rs
  src/db/patterns.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

fix: implement FromStr trait for SummaryLevel and PatternType
  TODO.md
  src/config/mod.rs
  src/db/patterns.rs
  src/db/summaries.rs
  tests/migration_tests.rs
  tests/ops_integration_tests.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ai): add chat_with_model method with optional model parameter
  src/ai/ollama.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ai): add sentiment analysis method to OllamaClient
  src/ai/ollama.rs
  src/ai/prompts.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ai): add topic extraction method to OllamaClient
  src/ai/ollama.rs
  src/ai/prompts.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ai): add summary prompts for daily/weekly/monthly summaries
  src/ai/prompts.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ops): add daily summary generation
  TODO.md
  src/ops/mod.rs
  src/ops/summarize.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ops): add weekly summary aggregation
  TODO.md
  src/ops/mod.rs
  src/ops/summarize.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ops): add monthly summary aggregation
  TODO.md
  src/ops/mod.rs
  src/ops/summarize.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(cli): add Summarize subcommand for AI summaries
  TODO.md
  src/cli/mod.rs
  src/main.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(cli): add Summaries subcommand for viewing past summaries
  TODO.md
  src/cli/mod.rs
  src/main.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(cli): implement cmd_summarize handler for AI summary generation
  TODO.md
  src/main.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(cli): implement cmd_summaries handler for browsing summaries
  src/main.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

docs: mark Phase 2 CLI handlers as complete in TODO.md
  TODO.md
Due: none

feat(ops): add temporal pattern detection module
  src/ops/mod.rs
  src/ops/patterns.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

docs: mark temporal pattern detection as complete in TODO.md
  TODO.md
Due: none

feat(ops): add topic clustering via embedding similarity
  src/ops/mod.rs
  src/ops/patterns.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

docs: mark topic clustering as complete in TODO.md
  TODO.md
Due: none

feat(ai): add Chain-of-Thought system prompt for conversational mode
  src/ai/prompts.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ops): add conversational interface for interactive journal exploration
  src/ops/converse.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(cli): add Converse subcommand and integrate conversational interface
  BACKLOG.md
  TODO.md
  src/cli/mod.rs
  src/main.rs
  src/ops/converse.rs
  src/ops/mod.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

test(ops): add comprehensive unit tests for conversation context assembly
  src/ops/converse.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

test(integration): add conversational RAG pipeline integration test
  tests/ops_integration_tests.rs
Due: cargo-fmt-check, cargo-clippy

docs: add conversational interface documentation to CLAUDE.md
  CLAUDE.md
Due: glance-update

docs: mark Phase 4 testing and documentation tasks as complete
  TODO.md
Due: none

feat(converse): add context visibility with compact preview
  src/cli/mod.rs
  src/main.rs
  src/ops/converse.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

refactor(ai): remove tool calling infrastructure from ollama.rs
  BACKLOG.md
  Cargo.lock
  Cargo.toml
  TODO.md
  src/ai/ollama.rs
  src/db/embeddings.rs
  src/ops/converse.rs
  src/ops/mod.rs
  src/ops/query_analysis.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ops): add reflection decision types for Phase 5 intent-aware context
  TODO.md
  src/ops/converse.rs
  src/ops/query_analysis.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ops): implement three-phase reflection workflow in conversation loop
  TODO.md
  src/ops/converse.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ops): add temporal constraint passthrough to context assembly
  TODO.md
  src/ops/converse.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

fix(ai): implement grammar-based JSON schema enforcement for structured outputs
  TODO.md
  src/ai/ollama.rs
  src/db/embeddings.rs
  src/main.rs
  src/ops/converse.rs
  src/ops/query_analysis.rs
  src/setup.rs
  tests/ops_integration_tests.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

feat(ops): enhance summary UX with immediate display and content previews
  src/db/summaries.rs
  src/main.rs
  src/ops/query_analysis.rs
  src/ops/summarize.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

fix(tests): mark Ollama-dependent converse tests as ignored in CI
  src/ops/converse.rs
Due: cargo-fmt-check, cargo-clippy, glance-update

Path conditions:
  cargo-fmt-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  glance-update: any of: ^(src/.*\.(rs|toml)|Cargo\.(toml|lock)|README\.md|CONTRIBUTING\.md|PRD\.md|CLAUDE\.md|\.pre-commit-config\.yaml)$
